<section class="py-10 bg-gray-50 sm:py-16 lg:py-24">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
       <div class="max-w-2xl mx-auto text-center px-4">
  <h2 class="text-3xl font-bold leading-tight text-slate-700 sm:text-4xl lg:text-5xl">
    <span class="bg-gradient-to-r from-slate-700 to-amber-500 bg-clip-text text-transparent">
      The CCH-WG Members
    </span>
  </h2>
  <p class="mt-6 text-lg leading-relaxed text-slate-600">
    New ICA Working Group on Cooperative Cultural Heritage has ambitious plans for 2025
  </p>
</div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 mt-12">


             <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m10.png" alt="Dianne Russell"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-purple-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr Jeroen Douglas </h3>
                    <p class="text-gray-600 mt-1">(Ex-officio) Director General, International Cooperative Alliance
                        CCH-WG Technical Team
                    </p>
                </div>
            </div>

            <!-- TEAM MEMBER CARD TEMPLATE -->
            <!-- Repeat this block with different data for all members -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>

                <div class="relative text-center">
                    <img src="../../../assets/images/members/m5.png" alt="Jenny Wilson"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-gray-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr Rohit Gupta</h3>
                    <p class="text-gray-600 mt-1">Deputy Managing Director, National Cooperative Development
                        Corporation, India
                    </p>
                </div>
            </div>

            <!-- Darrell Steward -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m6.png" alt="Darrell Steward"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-orange-700 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr Osamu Nakano </h3>
                    <p class="text-gray-600 mt-1">Secretary General, Japan Workers’ Cooperative Union, Japan</p>
                </div>
            </div>

            <!-- Bessie Cooper -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m13.png" alt="Bessie Cooper"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-red-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr Santosh Kumar</h3>
                    <p class="text-gray-600 mt-1">Director of Legislation, International Cooperative Alliance
                    </p>
                </div>
            </div>

            <!-- Arlene McCoy -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m1.png" alt="Arlene McCoy"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-yellow-500 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Ms Aicha Errifaai</h3>
                    <p class="text-gray-600 mt-1">Director General, Office of Cooperation Development, Morocco</p>
                </div>
            </div>

            <!-- Brooklyn Simmons -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m2.png" alt="Brooklyn Simmons"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-blue-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr Marcio Lopes de Freitas</h3>
                    <p class="text-gray-600 mt-1">Mentor of ICA-CCH WG</p>
                </div>
            </div>

            <!-- Jerome Bell -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m3.png" alt="Jerome Bell"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-green-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Dr Andreas Wieg </h3>
                    <p class="text-gray-600 mt-1">Head of Department, DGRV - Deutscher Genossenschafts- und
                        Raiffeisenverband e.V., Germany</p>
                </div>
            </div>

            <!-- Dianne Russell -->
           

            <!-- Kristin Watson -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m12.png" alt="Kristin Watson"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-indigo-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Ms Fabíola da Silva Nader Motta</h3>
                    <p class="text-gray-600 mt-1">General Manager, Organization of Brazilian Cooperatives, Brazil</p>
                </div>
            </div>

            <!-- Eleanor Pena -->
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m9.png" alt="Eleanor Pena"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-orange-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr Erbin Crowell
                    </h3>
                    <p class="text-gray-600 mt-1">Board of Directors of DotCoop & NCBA CLUSA, and Executive Director,
                        NFCA, United States of America
                    </p>
                </div>
            </div>


            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m100.png" alt="Eleanor Pena"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-orange-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr João Pinheiro Valadares Penna
                    </h3>
                    <p class="text-gray-600 mt-1">Coordinator of International Relations, Organization of Brazilian Cooperatives, Brazil
                    </p>
                </div>
            </div>
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m7.png" alt="Eleanor Pena"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-orange-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Ms Liz McIvor
                    </h3>
                    <p class="text-gray-600 mt-1">Manager and Lead, The Co-operative Heritage Trust, United Kingdom
                    </p>
                </div>
            </div>
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m8.png" alt="Eleanor Pena"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-orange-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Mr Tiago Luiz Schmidt
                    </h3>
                    <p class="text-gray-600 mt-1">President, Sicredi Pioneira, Brazil

                    </p>
                </div>
            </div>
            <div
                class="relative bg-white border border-gray-200 rounded-2xl p-6 shadow-lg hover:shadow-2xl transition-all">
                <div class="absolute top-0 left-0 w-14 h-14 border-t-2 border-l-2 border-pink-500 rounded-tl-2xl"></div>
                <div class="absolute top-0 right-0 w-14 h-14 border-t-2 border-r-2 border-red-400 rounded-tr-2xl"></div>
                <div class="absolute bottom-0 left-0 w-14 h-14 border-b-2 border-l-2 border-yellow-500 rounded-bl-2xl">
                </div>
                <div class="absolute bottom-0 right-0 w-14 h-14 border-b-2 border-r-2 border-pink-500 rounded-br-2xl">
                </div>
                <div class="relative text-center">
                    <img src="../../../assets/images/members/m4.png" alt="Eleanor Pena"
                        class="mx-auto rounded-full w-24 h-24 object-cover mb-4 border-4 border-orange-400 shadow" />
                    <h3 class="text-xl font-semibold text-gray-900">Ms Ebun Akin-Falaiye
                    </h3>
                    <p class="text-gray-600 mt-1">Executive Secretary, Cooperative Federation of Nigeria


                    </p>
                </div>
            </div>
        </div>
    </div>
</section>