<header
  class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-white/80 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-full lg:max-w-screen-lg">
  <div class="px-4">
    <div class="flex items-center justify-between">
      <div class="flex shrink-0">
        <a aria-current="page" class="flex items-center" href="/">
          <img class="h-7 w-auto" src="../../../assets/images/l_logo.png" alt="">
          <p class="sr-only">Website Title</p>
        </a>
      </div>

      <!-- Increased gap between menu items -->
      <div class="hidden md:flex md:items-center md:justify-center md:gap-20">
        <a aria-current="page"
          class="inline-block rounded-lg px-2 py-1 text-lg font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#" [routerLink]="''">Home</a>
        <a class="inline-block rounded-lg px-2 py-1 text-lg font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#" [routerLink]="'/heritage-site'">Heritage Sites</a>
        <a class="inline-block rounded-lg px-2 py-1 text-lg font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#" [routerLink]="'/member'">Members</a>
      </div>
      <div class="flex items-center justify-end gap-3">
        <!-- Location Icon Wrapper -->
        <div class="inline-flex items-center justify-center rounded-full p-2 bg-white shadow-sm hover:bg-gray-100 transition-all duration-150">
          
          <img src="../../../assets/images/hdr_logo.png" alt="" style="height: 32px; width: 32px;">
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</header>


