<header
  class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-white/80 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-full lg:max-w-screen-lg">
  <div class="px-4">
    <div class="flex items-center justify-between">
      <div class="flex shrink-0">
        <a aria-current="page" class="flex items-center" href="/">
          <img class="h-7 w-auto" src="https://banner2.cleanpng.com/20210407/byg/transparent-linear-justice-elements-icon-courthouse-icon-law-i-606d58436e9414.3678544516177787554529.jpg" alt="">
          <p class="sr-only">Website Title</p>
        </a>
      </div>

      <!-- Increased gap between menu items -->
      <div class="hidden md:flex md:items-center md:justify-center md:gap-20">
        <a aria-current="page"
          class="inline-block rounded-lg px-2 py-1 text-lg font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#" [routerLink]="''">Home</a>
        <a class="inline-block rounded-lg px-2 py-1 text-lg font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#" [routerLink]="'/heritage-site'">Heritage Sites</a>
        <a class="inline-block rounded-lg px-2 py-1 text-lg font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="#" [routerLink]="'/member'">Members</a>
      </div>

      <div class="flex items-center justify-end gap-3">
        <!-- Location Icon Wrapper -->
        <div class="inline-flex items-center justify-center rounded-full p-2 bg-white shadow-sm hover:bg-gray-100 transition-all duration-150">
          <svg version="1.1" id="ecommerce_1_" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 115 115" style="height: 32px; width: 32px;" xml:space="preserve">
            <style>.st4{fill:#96ceb4}.st7{fill:#e69112}</style>
            <g id="location_1_">
              <ellipse transform="rotate(-90.796 29.116 105.247)" class="st4" cx="29.113" cy="105.245" rx="9.749" ry="26.996"/>
              <ellipse transform="rotate(-90.802 29.077 102.9)" class="st7" cx="29.08" cy="102.902" rx="5.249" ry="14.998"/>
              <ellipse transform="rotate(-90.796 63.352 61.457)" class="st4" cx="63.349" cy="61.456" rx="11.061" ry="39.932"/>
              <ellipse transform="rotate(-90.796 62.916 57.15)" class="st7" cx="62.914" cy="57.15" rx="4.124" ry="20.06"/>
              <path d="M62.116.002C50.252.168 40.768 9.97 40.935 21.897c.166 11.927 15.153 33.77 21.957 33.674 6.336-.088 21.175-22.347 21.009-34.274C83.734 9.371 73.981-.163 62.116.002z" style="fill:#ff6f69"/>
              <ellipse transform="rotate(-90.796 62.425 21.951)" cx="62.423" cy="21.952" rx="11.236" ry="11.177" style="fill:#ffeead"/>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>

