
<div class="mx-auto px-2 sm:max-w-full md:max-w-full lg:max-w-screen-xl py-10 lg:py-16">
  <div class="max-w-3xl mb-6 mx-auto text-center lg:max-w-4xl md:mb-8">
    <div class="mb-4">
 
   <h2 class="text-[4rem] sm:text-[4.5rem] lg:text-[5.5rem] font-extrabold leading-tight bg-gradient-to-r from-blue-900 via-teal-600 to-blue-400 bg-clip-text text-transparent drop-shadow-md tracking-wide">
  Anand Milk Union Limited
</h2>

</div>

    <h2
      class="max-w-2xl mb-4 font-sans text-2xl font-bold leading-none tracking-tight text-gray-900 sm:text-3xl mx-auto"
      style="font-family: 'Times New Roman', serif;">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor"
          class="absolute top-0 left-0 z-0 hidden w-32 -mt-6 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-8 sm:block">
          
          <rect fill="url(#3071a3ad-db4a-4cbe-ac9a-47850b69e4b7)" width="52" height="24"></rect>
        </svg>
        <span class="relative">Empowering</span>
      </span>
      India with dairy excellence since 1946
    </h2>
    <p class="text-base text-gray-700 md:text-lg" style="font-family: 'Times New Roman', serif;">
      The Birth of Amul started with a protest only and then it became the lifeline of India.
The origins of India's dairy revolution trace back to Anand, a town in Gujarat, where exploitative practices by a local milk trader led farmers to seek help from Sardar Vallabhbhai Patel. He advised them to eliminate middlemen and form a cooperative.
In 1946, inspired by this vision and guided by leaders like Morarji Desai and Tribhuvandas Patel, farmers formed the Kaira District Co-operative Milk Producers’ Union Ltd.—starting with just two village societies and 247 litres of milk. This cooperative later became known as Amul Dairy.
Under Tribhuvandas Patel’s leadership and with the professional management of Dr. Verghese Kurien, known  as the father of white revolution from 1950, Amul grew rapidly.
Recognizing its success, Prime Minister Lal Bahadur Shastri initiated a national dairy policy based on the Amul model. 
 </p>
  </div>
  <div class="flex flex-wrap justify-center gap-4 mx-auto mt-6">
    <div class="flex-none w-32 h-32 ">
      <img src="../../../assets/images/11.jpg"
        class="w-full h-full rounded-xl  hover:rotate-0 duration-500 hover:-translate-y-4 object-cover hover:scale-110 transform origin-bottom"
        alt="Image 1">
    </div>
    <div class="flex-none w-32 h-32">
      <img src="../../../assets/images/22.jpg"
        class="w-full h-full rounded-xl  hover:rotate-0 duration-500 hover:-translate-y-4 object-cover hover:scale-110 transform origin-bottom"
        alt="Image 2">
    </div>
    <div class="flex-none w-32 h-32 nimate-ping">
      <img src="../../../assets/images/44.jpg"
        class="w-full h-full rounded-xl  hover:rotate-0 duration-500 hover:-translate-y-4 object-cover hover:scale-110 transform origin-bottom"
        alt="Image 3">
    </div>
    <div class="flex-none w-32 h-32">
      <img src="../../../assets/images/33.jpg"
        class="w-full h-full rounded-xl  hover:rotate-0 duration-500 hover:-translate-y-4 object-cover hover:scale-110 transform origin-bottom"
        alt="Image 4">
    </div>
    <div class="flex-none w-32 h-32">
      <img src="../../../assets/images/rrr.jpg"
        class="w-full h-full rounded-xl  hover:rotate-0 duration-500 hover:-translate-y-4 object-cover hover:scale-110 transform origin-bottom"
        alt="Image 4">
    </div>
    <div class="flex-none w-32 h-32">
      <img src="../../../assets/images/rrr2.jpg"
        class="w-full h-full rounded-xl  hover:rotate-0 duration-500 hover:-translate-y-4 object-cover hover:scale-110 transform origin-bottom"
        alt="Image 4">
    </div>
  </div>

</div>